<h1>Shows Created</h1>

<ul>
  <% @events.each do |event| %>
    <li><%= event %></li> 
    <% if event.creator_id == current_user.id %>
      <li><%= event.date %></li> 
      <li><%= event.location %></li>
    <% end %>
  <% end %>
</ul>


<h1>Shows Attended</h1>

  <h2>Show Occurred</h2>

  <% @events.each do |event| %>
      <% @event_attendees.each do |event_attendee| %> 

        <% if event_attendee.attendee_id == current_user.id && event.date < Date.today %>

          
            <li><%= event.date %></li> 
            <li><%= event.location %></li>
  

        <% end %>
      <% end %>
    <%end %>

  <h2>Show Will Occur</h2>

  <% @events.each do |event| %>
      <% @event_attendees.each do |event_attendee| %>

      <% if event_attendee.attendee_id == current_user.id && event.date > Date.today %>

          
            <li><%= event.date %></li> 
            <li><%= event.location %></li>
    

      <% end %>
    <% end %>
  <% end %>
