<h1>Shows Created</h1>

<ul>
  <% current_user.created_events.each do |created_event| %>
    <li><%= created_event %></li> 
      <li><%= created_event.date %></li> 
      <li><%= created_event.location %></li>
  <% end %>
</ul>

<h1>Shows Attended</h1>

<ul>
  <% current_user.attended_events.each do |attended_event| %>
    <li><%= attended_event %></li> 
      <li><%= attended_event.date %></li> 
      <li><%= attended_event.location %></li>
  <% end %>
</ul>

