<h1>All Your Events, Homie</h1>

<ul>
  <% @events.each do |event| %>
    <li><%= event %></li>
    <li><%= event.creator_id %></li> 
    <li><%= event.date %></li>
    <li><%= event.location %></li>
    <li><%= link_to "show event page", event_url(event) %></li>
  <% end %>
</ul>
