<h1>New Event!</h1>

<%= form_with model: @event do |form| %>

  <div>
    <%= form.label :date %><br>
    <%= form.text_field :date %>
  </div>

  <div>
    <%= form.label :location %><br>
    <%= form.text_area :location %>
  </div>

  <div>
    <%= form.fields_for :event_attendees do |event_attendees_form| %>
    <%= event_attendees_form.label :attendence, "Would you like to attend?" %><br>
    <%= event_attendees_form.check_box :attendence %>
  </div>

  <div>
    <%= form.submit %>
  </div>

  <% end %>