<h1>Shows Created</h1>

<% # debugger %>
<ul>
  <% @events.each do |event| %>
    <li><%= event %></li> 
    <% if event.creator_id == current_user.id %>
      <li><%= event.date %></li> 
      <li><%= event.location %></li>
    <% end %>
  <% end %>
</ul>


<h1>Shows Attended</h1>

<ul>
  <% @event_attendees.each do |event_attendee| %>
    
    <h2>Show Occurred</h2>
    <% if event_attendee.attendee_id == current_user.id && event_attendee.where("date < ?", Time.now) %>
      <li><%= event_attendee.attended_event_id.date %></li> 
      <li><%= event_attendee.attended_event_id.location %></li>
    <% end %>

    <h2>Show Will Occur</h2>
    <% if event_attendee.attendee_id == current_user.id && event_attendee.where("date > ?", Time.now) %>
      <li><%= event_attendee.attended_event_id.date %></li> 
      <li><%= event_attendee.attended_event_id.location %></li>
    <% end %>
  <% end %>
</ul>
